body {
    background-color: #F5F5F5;
    color: #555;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    font-size: 16pt;
    font-family: 'Lora', serif
}

#content {
    max-width: 80ch;
}

ul#nav {
    list-style-type: none;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
}

ul#nav li {
    display: inline-block;
    font-size: 20pt;
    margin-right: 1em;
}

ol h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h3 {
    border-bottom: 1px solid #555;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #555;
}

#go-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
}